tr.active td, tr.active th {
  background: #454d55;
  color: #fff;
}
.close {
  background: transparent;
  border: 0;
  font-size: 2rem;
  line-height: normal;
  width: 55px;
}
.spinner-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 9999;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.sr-only{
  visibility: hidden;
}
.alert-custom{
  width: 100%;
  z-index: 99;
}